@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
	/* --primary-color: url(assets/images/bg1.png); */
}
body {
    line-height: 1.74;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;    
    font-family: 'Roboto', sans-serif;
    color: #696969;
    position: relative;
    background-color: #fff;
}
li {
    text-transform: uppercase;
    margin-right: 3px;
    line-height: 40px;
}
li.list {
    position: relative;
}
a.dropdown-item i {
    font-size: 8px;
    margin-right: 10px;
    vertical-align: 3px;
}
ul.child {
    position: absolute;
    padding: 0;
    left: 9px;
    width: 214px;
    background: #1976A7;
    /* top: 30px; */
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    /* -webkit-transition: .3s; */
    transition: 1s;
    /* padding-top: 30px; */
    transform: translateY(-180%);
    opacity: 0;
    z-index: 9999;
}
ul.child a {color: white;}
img.logo {
    max-width: 50px;
}
header {
    background: #1D305B;
    font-size: 15px;
}
li.child-list {
    padding: 5px 5px 5px 13px;
    border-bottom: 1px solid white;
    list-style: none;
    margin: 0;
}
.list:hover .child{
    transition: .3s;
    opacity:1;
    visibility:visible;
    top: 100%;
    transform: rotateX(0deg);
    /* display: block; */
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: 1s;
    transform: translateY(0%);
}
.hotline {
    text-align: right;
}

.hotline a {
    color: white;
}
.child-list:hover a{
    color:orange;
}
.content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.slide {
}

.content h2 {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: -1.1px;
}
.content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 2.2em;
    letter-spacing: 0px;
}
img.img-tongquan {
    width: 100%;
}

img.img-tongquan1 {
    width: 100%;
}
.chinhsach-title img {
    width: 15px;
    margin: 0 5px 0 0;
}
.chinhsach-title ul li {
    list-style: none;
    line-height: 25px;
}

section#chinhsach {
    margin: 30px 0;
}

i.fas.fa-check-circle {
    color: #27940E;
}
.chinhsach-title ul {
    padding: 0 0 0 10px;
}

.chinhsach-title i {
    padding: 0 5px 0 0px;
    color: #D10D0D;
}
.chinhsach-title span {
    color: red;
    font-weight: bold;
}
.chinhsach-title ul li:hover i{
    color:orange;
}
img.img1 {
    width: 100%;
}

img.img13 {
    width: 100%;
}
.chinhsach-img {
    position: relative;
}

.chinhsach-img i {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);cursor: pointer;font-size: 100px;background: transparent;color: #D5D9CF;}
.vitri-title {
    text-align: center;
    margin: 0 0px 25px 0;
    position: relative;
}

.vitri-title p {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.vitri-title h1 {
    font-size: 25px;
    margin: .3em 0;
    line-height: 1.2;
    color: #1D3560;
}
img.img30 {
    width: 100%;
}
section.vitri ul li {
    list-style: none;
    line-height: 21px;
    text-transform: inherit;
}
section.vitri ul {
    padding: 60px 0 0 0;
}

section.vitri ul li i {
    padding: 0 6px 0 0;
    font-size: 10px;
    color: #27940E;
}
section.vitri ul li:hover i{
    color: orange;
}
.vitri-title::after {
    position: absolute;
    content: '';
    width: 140px;
    height: 3px;
    background: red;
    left: 50%;
    transform: translate(-50%,-50%);
}
.vitri-img {
    position: relative;
}

.vitri-img i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 100px;
    color: red;
}
img.img20 {
    width: 100%;
    height: auto;
}
.title-map {
    text-align: center;
    color: white;
    position: relative;
}

.title-map p {
    margin: 0;
}

.title-map h3 {
    font-size: 20px;
    color: white;
}
.map {
    text-align: justify;
    padding: 10px 0 0 0;
    background: #6DC0EC;
}
.description {
    padding: 10px 120px;
}
.row1 {
    margin: 40px 0 0 0;
}
.map1 {
    padding: 0;
    margin: 90px 0 0 0;
}


.title-map::after {
    position: absolute;
    content: '';
    width: 140px;
    height: 3px;
    background: red;
    left: 50%;
    transform: translate(-50%,-50%);
}
img.img10 {
    width: 100%;
}
.matbang-title {
    padding: 10px 40px 20px 40px;
    background: #196A9A;
    color: white;
    background-size: 100% 100%;
}
.matbang-col1 {
    padding: 0;
}

.matbang-col2 {
    padding: 0;
}

.row2 {
    margin: 15px 0 0 0;
}
.matbang-title .des {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.matbang-title h3 {
    font-size: 25px;
    font-weight: 600;
}
.item1 {
    background: #F26624;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.item1 p {
    margin: 0;
    color: white;
}

.item1 i {
    padding: 0 20px 0 0px;
}



.matbang-col2 p {
    text-align: center;
    margin: 20px 0 0 0;
    color: #F26624;
}
section.video {
    padding: 50px 100px;
    background: #A99DCD;
    position: relative;
}

img.img4 {
    width: 100%;
}

section.video i {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);cursor: pointer;font-size: 100px;color: red;}
.tienich-title {
    text-align: center;
    padding: 15px 10px 0 10px;
    /* margin: 10px 0 0 0; */
}

.tienich-title .des {color: #e39725;font-size: 1em;font-weight: 500;margin: 0;}

.tienich-title h3 {
    font-size: 25px;
    margin: .3em 0;
    line-height: 1.2;
    color: #1D3560;
}
.col-lg-6 h3 {
    font-size: 18px;
    color: orange;
    margin: 0 0 15px 0;
}
img.img7 {
    width: 100%;
}
.card-body ul {
    padding: 0;
}

.card-body ul li {
    list-style: none;
    line-height: 23px;
    text-transform: initial;
}
.card-body i {
    margin: 0 10px 0 0;
    color: #27940E;
}
.button {
    text-align: center;
    margin: 15px 0 0 0;
}

.button i {
    margin: 0 10px 0 0;
}
.row3 {
    margin: 30px 0 0 0;
    padding: 0 0 20px 0;
}


section.tienich {
    background: #f5f5f6;
}

h5.mb-0 {
}

.card-body ul li:hover i {
    color: orange;
}
.row4 {margin: 0;padding: 30px 0 25px 0;}

.left ul {
    padding: 0;
}

.left ul li {
    list-style: none;
    line-height: 22px;
    text-transform: inherit;
    text-align: justify;
}

.left i {
    margin: 0 10px 0 0;
    color: green;
}

.left {
    padding: 0 10px 0 30px;
}
.left h3 {
    font-size: 18px;
    color: orange;
    margin: 0 0 15px 0;
    display: inline-block;
    border-bottom: 2px solid;
    padding: 0 0 5px 0;
}
section.quymo {
    background: #F5F5F6;
}

.left ul li:hover i {
    color: orange;
}
img.img3 {
    width: 100%;
}

section.img {
    position: relative;
}

.img-des {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background: rgba(0,0,0,0.8);
}

.img-des i {
    padding: 0 15px 0 0;
}


.chinhsachbanhang-title {
    text-align: center;
    margin: 0 0 30px 0;
    position: relative;
}

.chinhsachbanhang-title p {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

section.chinhsachbanhang ul li {
    list-style: none;
    line-height: 23px;
    text-transform: initial;
}

section.chinhsachbanhang ul li i {
    margin: 0 10px 0 0;
}

section.chinhsachbanhang ul {
    padding: 0;
}


.chinhsachbanhang-title h2 {
    font-size: 25px;
    margin: .3em 0px;
    line-height: 1.2;
    color: #1D3560;
}

.chinhsachbanhang-title::after {position: absolute;content: '';width: 140px;height: 3px;background: red;left: 50%;transform: translate(-50%,-50%);}
section.chinhsachbanhang span {
    color: red;
    font-weight: 600;
}
.chinhsach-left {
    margin: 140px 0 0 0;
}
.img-gif {
    position: relative;
}

.img-gif i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 100px;
    color: #e5ddd778;
}
.tiendo-title {
    text-align: center;
}

.tiendo-title p {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.tiendo-title h3 {
    font-size: 25px;
    margin: .3em 0px;
    line-height: 1.2;
    color: #1D3560;
}
img.img11 {
    width: 100%;
}

.tiendo-img {
    padding: 10px 10px;
    position: relative;
}

.tiendo-img .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 100px;
    color: #f26624;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
	/* --primary-color: url(assets/images/bg1.png); */
}
body {
    line-height: 1.74;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;    
    font-family: 'Roboto', sans-serif;
    color: #696969;
    position: relative;
    background-color: #fff;
}
li {
    text-transform: uppercase;
    margin-right: 3px;
    line-height: 40px;
    font-size: 14px;
}
li.list {
    position: relative;
}

ul.child {
    position: absolute;
    padding: 0;
    left: 9px;
    width: 214px;
    background: #1976A7;
    /* top: 30px; */
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    /* -webkit-transition: .3s; */
    transition: 1s;
    /* padding-top: 30px; */
    transform: translateY(-180%);
    opacity: 0;
    z-index: 9999;
}
ul.child a {color: white;}
img.logo {
    max-width: 50px;
}
header {
    background: #1D305B;
    font-size: 15px;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
}
li.child-list {
    padding: 5px 5px 5px 13px;
    border-bottom: 1px solid white;
    list-style: none;
    margin: 0;
}
.list:hover .child{
    transition: .3s;
    opacity:1;
    visibility:visible;
    top: 100%;
    transform: rotateX(0deg);
    /* display: block; */
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: 1s;
    transform: translateY(0%);
}
.hotline {
    text-align: right;
}

.hotline a {
    color: white;
}
.child-list:hover a{
    color:orange;
}
.content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.slide {
}

.content h2 {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: -1.1px;
}
.content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 2.2em;
    letter-spacing: 0px;
}
img.img-tongquan {
    width: 100%;
}

img.img-tongquan1 {
    width: 100%;
}
.chinhsach-title img {
    width: 15px;
    margin: 0 5px 0 0;
}
.chinhsach-title ul li {
    list-style: none;
    line-height: 25px;
}

section#chinhsach {
    margin: 30px 0;
}

i.fas.fa-check-circle {
    color: #27940E;
}
.chinhsach-title ul {
    padding: 0 0 0 10px;
}

.chinhsach-title i {
    padding: 0 5px 0 0px;
    color: #D10D0D;
}
.chinhsach-title span {
    color: red;
    font-weight: bold;
}
.chinhsach-title ul li:hover i{
    color:orange;
}
img.img1 {
    width: 100%;
}

img.img13 {
    width: 100%;
}
.chinhsach-img {
    position: relative;
}

.chinhsach-img i {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);cursor: pointer;font-size: 100px;background: transparent;color: #D5D9CF;}
.vitri-title {
    text-align: center;
    margin: 0 0px 25px 0;
    position: relative;
}

.vitri-title p {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.vitri-title h1 {
    font-size: 25px;
    margin: .3em 0;
    line-height: 1.2;
    color: #1D3560;
}
img.img30 {
    width: 100%;
}
section.vitri ul li {
    list-style: none;
    line-height: 21px;
    text-transform: inherit;
}
section.vitri ul {
    padding: 60px 0 0 0;
}

section.vitri ul li i {
    padding: 0 6px 0 0;
    font-size: 10px;
    color: #27940E;
}
section.vitri ul li:hover i{
    color: orange;
}
.vitri-title::after {
    position: absolute;
    content: '';
    width: 140px;
    height: 3px;
    background: red;
    left: 50%;
    transform: translate(-50%,-50%);
}
.vitri-img {
    position: relative;
}

.vitri-img i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 100px;
    color: red;
}
img.img20 {
    width: 100%;
    height: auto;
}
.title-map {
    text-align: center;
    color: white;
    position: relative;
}

.title-map p {
    margin: 0;
}

.title-map h3 {
    font-size: 20px;
    color: white;
}
.map {
    text-align: justify;
    padding: 10px 0 0 0;
    background: #6DC0EC;
}
.description {
    padding: 10px 120px;
}
.row1 {
    margin: 40px 0 0 0;
}
.map1 {
    padding: 0;
    margin: 90px 0 0 0;
}


.title-map::after {
    position: absolute;
    content: '';
    width: 140px;
    height: 3px;
    background: red;
    left: 50%;
    transform: translate(-50%,-50%);
}
img.img10 {
    width: 100%;
}
.matbang-title {
}
.matbang-col1 {
    padding: 0;
    background: url(assets\images\30.jpg);
}

.matbang-col2 {
    padding: 0;
}
.row2 {
    margin: 15px 0 0 0;
}
.matbang-title .des {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.matbang-title h3 {
    font-size: 25px;
    font-weight: 600;
}
.item1 {
    background: #F26624;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.item1 p {
    margin: 0;
    color: white;
}

.item1 i {
    padding: 0 20px 0 0px;
}
.matbang-col2 p {
    text-align: center;
    margin: 20px 0 0 0;
    color: #F26624;
}
section.video {
    padding: 50px 100px;
    background: #A99DCD;
    position: relative;
}

img.img4 {
    width: 100%;
}

section.video i {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);cursor: pointer;font-size: 100px;color: red;}
.tienich-title {
    text-align: center;
    padding: 15px 10px 0 10px;
    position: relative;
}

.tienich-title .des {color: #e39725;font-size: 1em;font-weight: 500;margin: 0;}

.tienich-title h3 {
    font-size: 25px;
    margin: 10px 0 20px 0;
    line-height: 1.2;
    color: #1D3560;
}
.col-lg-6 h3 {
    font-size: 18px;
    color: orange;
    margin: 0 0 15px 0;
}
img.img7 {
    width: 100%;
}
.card-body ul {
    padding: 0;
}

.card-body ul li {
    list-style: none;
    line-height: 23px;
    text-transform: initial;
}
.card-body i {
    margin: 0 10px 0 0;
    color: #27940E;
}
.button {
    text-align: center;
    margin: 15px 0 0 0;
}

.button i {
    margin: 0 10px 0 0;
}
.row3 {
    margin: 30px 0 0 0;
    padding: 0 0 20px 0;
}


section.tienich {
    background: #f5f5f6;
}

h5.mb-0 {
}

.card-body ul li:hover i {
    color: orange;
}
.row4 {margin: 0;padding: 30px 0 25px 0;}

.left ul {
    padding: 0;
}

.left ul li {
    list-style: none;
    line-height: 22px;
    text-transform: inherit;
    text-align: justify;
}

.left i {
    margin: 0 10px 0 0;
    color: green;
}

.left {
    padding: 0 10px 0 30px;
}
.left h3 {
    font-size: 18px;
    color: orange;
    margin: 0 0 15px 0;
    display: inline-block;
    border-bottom: 2px solid;
    padding: 0 0 5px 0;
}
section.quymo {
    background: #F5F5F6;
}

.left ul li:hover i {
    color: orange;
}
img.img3 {
    width: 100%;
}

section.img {
    position: relative;
}

.img-des {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background: rgba(0,0,0,0.8);
}

.img-des i {
    padding: 0 15px 0 0;
}


.chinhsachbanhang-title {
    text-align: center;
    margin: 20px 0 30px 0;
    position: relative;
}

.chinhsachbanhang-title p {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

section.chinhsachbanhang ul li {
    list-style: none;
    line-height: 23px;
    text-transform: initial;
}

section.chinhsachbanhang ul li i {
    margin: 0 10px 0 0;
}

section.chinhsachbanhang ul {
    padding: 0;
}


.chinhsachbanhang-title h2 {
    font-size: 25px;
    margin: .3em 0px;
    line-height: 1.2;
    color: #1D3560;
}

.chinhsachbanhang-title::after {position: absolute;content: '';width: 140px;height: 3px;background: red;left: 50%;transform: translate(-50%,-50%);}
section.chinhsachbanhang span {
    color: red;
    font-weight: 600;
}
.chinhsach-left {
    margin: 140px 0 0 0;
}
.img-gif {
    position: relative;
}

.img-gif i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 100px;
    color: #e5ddd778;
}
.tiendo-title {
    text-align: center;
    position: relative;
    padding: 25px 0 0 0;
}

.tiendo-title p {
    color: #e39725;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.tiendo-title h3 {
    font-size: 25px;
    margin: .3em 0px;
    line-height: 1.2;
    color: #1D3560;
}
img.img11 {
    width: 100%;
    margin: 0 0 30px 0;
}

.tiendo-img {
    padding: 0px 10px 30px 10px;
    position: relative;
    text-align: center;
    background: #0be2f845;
    margin: 30px 0 30px 0;
}

.tiendo-img .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 100px;
    color: #f26624;
}
.tiendo-title::after {
    position: absolute;
    content: '';
    width: 140px;
    height: 3px;
    background: red;
    left: 50%;
    transform: translate(-50%,-50%);
}
img.img18 {
    width: 100%;
}
section.lienhe {
    position: relative;
    padding: 0px 0 0 0;
}

section.lienhe .over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
}
.row5 {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.contact-col {
    padding: 80px 25px 25px 40px;
    color: white;
}

.contact-col ul {
    padding: 0;
    margin: 15px 0 0 0;
}

.contact-col li {
    list-style: none;
    line-height: 30px;
}

.contact-col ul li i {
    margin: 0 10px 0 0;
}

.contact {
    text-align: center;
}
.form-group label {
    color: white;
    font-size: 16px;
}
.row5 h3 {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-50%);
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid;
}

.contact h3 {
    color: orange;
    position: relative;
    border: none;
}
img.img6 {
    width: 100%;
    margin: 0 0 10px 0;
}
section.thongtinduan h3 {
    font-size: 23px;
    font-weight: 600;
    color: #1977A8;
    margin: 20px 0 20px 0;
    display: inline-block;
    border-bottom: 3px solid;
}
.col-lg-4 a {
    font-size: 15px;
    font-weight: 600;
}
.icon ul {
    padding: 0 0 0 15px;
}

.icon ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
footer {padding: 40px 30px 29px 30px;background: #177AA1;color: white;position: relative;}

footer::after {content: '';width: 1px;height: 87%;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);background: #B7BCBF;}
.col-7 input {
    width: 72%;
}

.col-7 {
    padding: 0 0 0 0;
    margin: 0 0 0px 0px;
    display: inline-block;
}

.col-5 {padding: 0;margin: 0 0px 0 60px;}

.col-5 input {
    width: 100%;
}

.col-3 {
    background: #0EA211;
    padding: 3px 0px 3px 18px;
}

.col-3 a {
    color: white;
    text-transform: uppercase;
}



.col-3 a i {
    padding: 0 13px 0 0;
}
em {
}

.contactus a {color: white;}

.contactus i {
    margin: 0 10px 0px 0;
}
.contactus span {
    margin: 0 20px 0 20px;
}
.contactus {
    margin: 0 0 10px 0;
}
.icon a {
    color: white;
    font-size: 25px;
}

.row6 ul li a {color: white;font-size: 14px;}

.row6 ul li {
    line-height: 30px;
}

.row6 ul {
    padding: 0 0 0px 25px;
}
.last {
    background: #000;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
}

.last a {
    color: white;
}

p.info {
    padding: 0 0 0 15px;
}
.last p {
    margin: 0;
}
img.img-offer2 {
    max-width: 30px;
    position: absolute;
    top: 50%;
    right: 0;
}

img.img-offer1 {
    position: absolute;
    left: 0;
    max-width: 30px;
    top: 50%;
}
img.img31 {
    max-width: 140px;
}
.button i {
    color: white;
}
.chinhsach-left ul li:hover i {
    color: orange;
}

footer ul li:hover a {
    color: orange;
}
.modal-content h3 {
    font-size: 17px;
    text-align: center;
    color: #1977a8;
}

.des-modal {
    text-align: center;
}

.des-modal button {
    color: orange;
}
.row7 input {
    width: 100%;
    border: 1px solid;
}

.row7 .col-6 {
    padding: 0;
}

.row7 {
    margin: 0 0 15px 0;
}
input.submit {
    background: green;
    color: white;
    text-transform: uppercase;
    border: 0px solid;
    height: 28px;
}
.modal-content ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0px 50px;
}

.modal-content img {
    max-width: 50px;
}

.modal-content ul {
    padding: 0;
    text-align: center;
}
img.img21 {
    max-width: 100%;
}
.modal1 {
    background: #314282;
    border: #314282;
    position: fixed;
    bottom: 35px;
    left: 0;
}

.modal2 {
    position: fixed;
    bottom: 0;
    left: 20%;
    background: #D10D0D;
    border: #D10D0D;
    border-radius: 10px;
}
#form_popup {
    position: fixed;
    bottom: 20px;
    right: -600px;
    background: #d10d0d;
    color: #fff;
    padding: 15px 30px;
    max-width: 500px;
    z-index: 12;
    border-radius: 5px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
#form_popup.active{
    right: 20px;
}


#form_popup input {
    width: 100%;
    border-radius: 5px;
    border: 1px;
}

#form_popup .col-lg-4 {
    padding-right: 0;
}

#form_popup h3 {
    font-size: 18px;
}
.tienich-title::after {top: 50%;position: absolute;content: '';width: 140px;height: 3px;background: red;left: 50%;transform: translate(-50%,-50%);}

